:root {
  --font-g: "Roboto", sans-serif;
}

div.MuiDataGrid-root.MuiDataGrid-root:before.MuiDataGrid-root:after {
  box-sizing: none;
}

div.MuiDataGrid-root {
  cursor: pointer;
}

div.MuiDataGrid-root .MuiDataGrid-footer .MuiDataGrid-selectedRowCount {
  visibility: hidden;
}

div.MuiDataGrid-root .MuiDataGrid-rowCount,
.MuiDataGrid-root .MuiDataGrid-selectedRowCount {
  display: flex;
  color: #707070;
  font-family: var(--font-g);
  font-weight: 300;
}

div.MuiDataGrid-root .MuiDataGrid-colCell:focus,
.MuiDataGrid-root .MuiDataGrid-cell:focus {
  outline: none;
}

div.MuiDataGrid-root .MuiDataGrid-cellLeft:focus {
  outline: none;
}

div.MuiDataGrid-root .MuiDataGrid-row.Mui-selected {
  background: #a7a7a7 0% 0% no-repeat padding-box;
}

div.MuiDataGrid-root .MuiDataGrid-row.Mui-selected:hover {
  background: #a7a7a7 0% 0% no-repeat padding-box;
}

.MuiDataGrid-root .MuiDataGrid-footer {
  min-height: auto !important;
}
.MuiDataGrid-window::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

.MuiDataGrid-cell.MuiDataGrid-cellCheckbox.MuiDataGrid-cellWithRenderer.MuiDataGrid-cellCenter {
  width: 0;
  color: white;
  border: 0;
  display: none;
}

.MuiDataGrid-colCell.MuiDataGrid-colCellCheckbox.MuiDataGrid-colCellCenter {
  width: 0;
  color: white;
  border: 0;
  display: none;
}
