.brand-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 1.5rem 2rem 0 2rem;
}

.icons-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.icons-container div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0rem 1rem 0rem 0rem;
}

.buttons {
  background-color: transparent;
  border-radius: 100%;
  border: 0;
}

.buttons:hover {
  box-shadow: 0px 1px 3px 1px rgb(73, 73, 73);
}

.row-grid {
  padding-top: 1.5%;
}
