.brand-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 10%;
}

.icons-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.icons-container div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.4rem 1rem 0rem 0rem;
}

.buttons {
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.buttons:focus {
  outline: none;
}

.row-grid-brands {
  padding-top: 1%;
}
