.brand-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 1.5rem 2rem 0 2rem;
}

.icons-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.icons-container div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.4rem 1rem 0rem 0rem;
}

.buttons {
  border-radius: 50%;
  background-color: #63c3d1;
  border: 0;
  height: 2.2rem;
  width: 2.2rem;
  margin: 0.5rem;
}

.row-grid {
  padding-top: 1.5%;
}
