.brand-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
}

.row-grid-brands {
  width: 96%;
  height: 77%;
}

@media (min-width: 1920px) {
  .row-grid-brands {
    width: 96%;
    height: 80%;
  }
}
