:root {
  --font-g: "Roboto", sans-serif;
}

.main-container {
  position: absolute;
  top: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #ffffff;
}

.figures {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  padding-top: 7rem;
}

.figures .elipse {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
}

.elipse img {
  width: 7rem;
  padding-left: 1.5rem;
}

.elipse .rombo {
  width: 0.8rem;
  padding-top: 1rem;
  margin-left: 2.8rem;
}

.figures .vertical-line {
  padding-top: 7rem;
  padding-right: 14%;
  margin-left: -3.5rem;
}

.vertical-line .line {
  width: 3rem;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  justify-content: center;
  line-height: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  width: 100%;
}

section h1 {
  color: #63c3d1;
  font-family: var(--font-g);
  font-weight: 300;
  font-size: 2rem;
}

section p {
  color: #707070;
  font-family: var(--font-g);
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  text-align: center;
  width: 30%;
}

.figures-left {
  display: flex;
  align-items: center;
  height: auto;
  justify-content: flex-start;
  width: 100%;
}

.container-left {
  display: flex;
  padding-left: 14%;
}

.half-wheel img {
  width: 6rem;
}

.cross {
  margin-left: -18%;
}

.cross img {
  width: 1.5rem;
}

.rombo {
  padding-left: 12%;
  padding-top: 19%;
}

.rombo img {
  width: 0.75rem;
}

@media (max-height: 980px) {
  .main-container {
    top: 8vh;
  }

  .elipse img {
    width: 7rem;
    padding-left: 1.5rem;
  }

  .elipse .rombo {
    width: 0.8rem;
    padding-top: 1rem;
    margin-left: 2.8rem;
  }

  .figures .vertical-line {
    padding-top: 7rem;
    padding-right: 14%;
    margin-left: -3.5rem;
  }

  .vertical-line .line {
    width: 3rem;
  }
} ;
